/**{
  padding: 0;
  margin: 0;*/
/*}*/

#table {
  background-color: white;
}

.gameHolder {
margin-top: 300px;
}

.container {
  /*background-image: url("playing-cards-1.jpg");*/
  background-color: blue;
}

.cards {
  display: inline-block;
  height: 350px;
  width: 250px;;
}

.ace {
display: inline-block;
float: top;
width: 100px;
height: 50px;
background-color: red;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}


.aceHolder {
  position: absolute;
  width: 250px;
  height: 50px;
  background-color: white;
  font-size: 25px;
}
#aceDisplay {
  float: right;
  width: 40%;
  height: 50px;
  font-size: 25px;
}

.scoreKeeper {
  float: right;
  width: 250px;
  height: 250px;
  border-radius: 25%;
  font-size: 25px;
  color: #fff;
  line-height: 250px;
  text-align: center;
  background: #000
}

.button {
  background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.hidden {
  visibility: hidden;
}



.homePageButton {
  float: left;
  display: inline-block;
  height: 25px;
  width: 75%;

}

.players{
  margin-left: 25px;
}

/*dropdown */
 /*Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.deckRow {
  display: inline-block;
  float: left;
  margin-top: 125px;
  height: 125px;
  width: 50%


}

.invisable *{
  visibility: hidden;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
